@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Rubik:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    padding: 12px;
    display: flex; 
    /*flex bcz we will work with flexbox , flexible in length*/
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(130deg, #71b7e6, #9b59b6);
}

.container{
    width: 100%;
    max-width: 700px;
    padding: 22px 29px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.13);
}

.container .title{
    font-weight: 500;
    font-size: 22px;
    position: relative;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 18px 0 12px 0;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom:14px;
}

form .input-box span.details{
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}


.user-details .input-box input{
    width: 100%;
    height: 44px;
    outline: none;
    font-size: 14px;
    padding-left: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
    
}

form .gender-details .gender-title{
    font-weight: 500;
    font-size: 18px;
}

form .category{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 14px 2px;
}

form .category label{
    display: flex;
    align-items: center;

}

form .category label .dot{
    width: 17px;
    height: 17px;
    border: 5px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #d9d9d9;
 
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background-color: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 35px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(130deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-130deg, #71b7e6, #9b59b6);
}